---
import { getAbsoluteLocaleUrl } from 'astro:i18n';
//import { Font } from 'astro:assets';

import { SEO } from 'astro-seo';

interface Props {
	title: string;
	keywords: string;
	description: string;
}

const { title, keywords, description } = Astro.props;
const { url, site } = Astro;

import { locales, isLocale } from '../paraglide/runtime.js';
function removeLanguagePrefix(path: string) {
	const [maybeLanguage, ...rest] = path.split('/').filter(Boolean);
	return isLocale(maybeLanguage) ? rest.join('/') : path;
}

const currentPathWithoutLanguage = removeLanguagePrefix(Astro.url.pathname);

import style from '../styles/base.css?inline';
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="sitemap" href="/sitemap-index.xml" />

<meta name="author" content="Łukasz Mariański" />
<meta name="description" content={description} />
<meta name="keywords" content={keywords} />
<title>{title}</title>

<meta name="generator" content={Astro.generator} />

{
	locales.map(lang => (
		<link
			rel="alternate"
			hreflang={lang}
			href={getAbsoluteLocaleUrl(lang, currentPathWithoutLanguage)}
		/>
	))
}

<SEO
	openGraph={{
		basic: {
			title,
			type: 'website',
			image: '',
			url,
		},
		optional: {
			description,
		},
	}}
/>

<style is:inline set:html={style}></style>
<!-- <Font cssVariable="--font-inter" preload /> -->
<!-- <Font cssVariable="--font-crimson-pro" preload /> -->
