---
import i18next from 'i18next';
import { Trans, HeadHrefLangs } from 'astro-i18next/components';

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Starfield from '../components/Starfield.astro';

const { title, keywords, description } = Astro.props;

import '../styles/base.css';
---

<!doctype html>
<html lang={i18next.language}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="sitemap" href="/sitemap-index.xml" />

		<HeadHrefLangs />

		<title>{title}</title>
		<meta name="author" content="Łukasz Mariański" />
		<meta name="description" content={description} />
		<meta name="keywords" content={keywords} />

		<meta name="generator" content={Astro.generator} />

		<!-- Open Graph Meta Tags -->
		<meta property="og:title" content={title} />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:type" content="website" />
		<meta property="og:image" content={Astro.url + '/og.png'} />
		<meta property="og:description" content={description} />
	</head>

	<body class="bg-steel-gray-950 text-silver-400 font-sans">
		<Header />

		<main>
			<slot />
		</main>

		<Footer />
		<Starfield />
	</body>
</html>

<script>
	function toggleFilter() {
		if (localStorage.getItem('lowPerformance') === 'true') {
			console.warn('Backdrop-filter disabled due to poor performance');
			document.body.classList.add('low-performance');
		}
	}

	function testPerformance() {
		const frameTimes = [];
		let frameCount = 0;

		function measureFrame() {
			const start = performance.now();
			requestAnimationFrame(() => {
				const end = performance.now();
				frameTimes.push(end - start);
				frameCount++;

				if (frameCount < 50) {
					measureFrame();
				} else {
					finalizeTest();
				}
			});
		}

		function finalizeTest() {
			const averageFrameTime =
				frameTimes.reduce((a, b) => a + b, 0) / frameTimes.length;

			console.debug(`Average frame time: ${averageFrameTime.toFixed(2)} ms`);

			if (averageFrameTime > 50) {
				localStorage.setItem('lowPerformance', true);
			} else {
				localStorage.setItem('lowPerformance', false);
			}

			toggleFilter();
		}

		measureFrame();
	}

	toggleFilter();
	testPerformance();
</script>
